<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>CSV Uploader</title>
  </head>
  <body>
    <h1>-: CSV Uploader :-</h1>

    <form action="/upload" method="post" enctype="multipart/form-data">
      <label>
        <span
          ><p style="padding: 6px">Select Your File</p>
          <img src="/images/upload.png" alt="" srcset=""
        /></span>
        <input type="file" name="csvFile" accept=".csv" required />
      </label>
      <button type="submit">Upload</button>
    </form>

    <h2>Uploaded Files</h2>
    <% if(files.length <= 0) { %>
    <p>No Uploaded File</p>
    <% } %>
    <ul>
      <% files.forEach(file => { %>
      <li>
        <a href="/file/<%= file.filename %>"><%= file.filename %></a>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
